


<div class="container">
    <div class="row">
        <div class="text-center">
                <h1 style="font-weight: bold;">Sistema Intermax</h1>
                <p class="lead hidden-xs">Bem-Vindo ao Sistema de Vendas Intermax.</p>
                
            </div>


        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <legend>Login</legend>
                    <form class="form form-signup" (submit)="onLoginSubmit()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Usuário" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Senha" />
                        </div>
                    </div>

                <input type="submit" class="btn btn-success btn-block" value="ENTRAR">
              </form>
              </div>
            </div>
        </div>
    </div>
</div>
