<h3 class="page-header col-md-2">Produtos</h3>

<ul class="nav nav-tabs col-md-10">
  <li id="abaConsulta" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Consulta <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="active"><a href="#tabela_Rev" data-toggle="tab" aria-expanded="true">Revenda / Varejo</a></li>
      <li class=""><a href="#tabela_Eng" data-toggle="tab" aria-expanded="true">Engenharia</a></li>
      <li class=""><a href="#tabela_HcKa" data-toggle="tab" aria-expanded="true">Home Center / Key Account</a></li>
      <li class=""><a href="#tabela_AtDt" data-toggle="tab" aria-expanded="true">Atacado / Distribuidores</a></li>
    </ul>
  </li>
  <li id="abaCadastro" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">Cadastro <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class=""><a href="#cadastrar_Produto" data-toggle="tab" aria-expanded="true">Novo Produto</a></li>
      <li class=""><a href="#descontos" data-toggle="tab" aria-expanded="true">Descontos</a></li>
      <li class=""><a href="#estoque" data-toggle="tab" aria-expanded="true">Estoque</a></li>
    </ul>
  </li>
</ul>

<div id="myTabContent" class="tab-content">



  <!--CONSULTA-->
      

      <!--Tabela REV-->
      <div class="tab-pane fade active in" id="tabela_Rev">
        <table class="table table-striped table-hover col-md-12">
        <thead>
          <tr>
            <th>#</th>
            <th>Linha</th>
            <th>Formato</th>
            <th>Descrição</th>
            <th>Capa</th>
            <th>Med.</th>
            <th>Un/Cx</th>
            <th>Cx/Pt</th>
            <!--<th>Mt/Cx</th>
            <th>Mt/Pt</th>
            <th>Mt/Cn</th>-->
            <th>Preço CD1</th>
            <th>Preço CD3</th>
          </tr>
        </thead>
        <tbody *ngFor="let produto of produtos; let i = index" [attr.data-index]="i">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{produto.linhaProduto}}</td>
            <td>{{produto.formatoProduto}}</td>
            <td>{{produto.descricaoProduto}}</td>
            <td>{{produto.capaProduto}}</td>
            <td>{{produto.medicaoProduto}}</td>
            <td>{{produto.qtUnidCx}}</td>
            <td>{{produto.qtCxPallet}}</td>
            <!--<td class="money">{{produto.qtMetroCx}}</td>
            <td class="money">{{produto.qtMetroPt}}</td>
            <td class="money">{{produto.qtMetroCn}}</td>-->
            <td><span>R$ </span><span class="money">{{produto.rev_cd1}}</span></td>
            <td><span>R$ </span><span class="money">{{produto.rev_cd3}}</span></td>
          </tr>
        </tbody>
        </table>
      </div>



    <!--Tabela ENG-->
      <div class="tab-pane fade" id="tabela_Eng">
        <table class="table table-striped table-hover col-md-12">
        <thead>
          <tr>
            <th>#</th>
            <th>Linha</th>
            <th>Formato</th>
            <th>Descrição</th>
            <th>Capa</th>
            <th>Med.</th>
            <th>Un/Cx</th>
            <th>Cx/Pt</th>
            <!--<th>Mt/Cx</th>
            <th>Mt/Pt</th>
            <th>Mt/Cn</th>-->
            <th>Preço CD1</th>
            <th>Preço CD3</th>
          </tr>
        </thead>
        <tbody *ngFor="let produto of produtos; let i = index" [attr.data-index]="i">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{produto.linhaProduto}}</td>
            <td>{{produto.formatoProduto}}</td>
            <td>{{produto.descricaoProduto}}</td>
            <td>{{produto.capaProduto}}</td>
            <td>{{produto.medicaoProduto}}</td>
            <td>{{produto.qtUnidCx}}</td>
            <td>{{produto.qtCxPallet}}</td>
            <!--<td class="money">{{produto.qtMetroCx}}</td>
            <td class="money">{{produto.qtMetroPt}}</td>
            <td class="money">{{produto.qtMetroCn}}</td>-->
            <td><span>R$ </span><span class="money">{{produto.eng_cd1}}</span></td>
            <td><span>R$ </span><span class="money">{{produto.eng_cd3}}</span></td>
          </tr>
        </tbody>
        </table>
      </div>



    <!--Tabela HC/KA-->
      <div class="tab-pane fade" id="tabela_HcKa">
        <table class="table table-striped table-hover col-md-12">
        <thead>
          <tr>
            <th>#</th>
            <th>Linha</th>
            <th>Formato</th>
            <th>Descrição</th>
            <th>Capa</th>
            <th>Med.</th>
            <th>Un/Cx</th>
            <th>Cx/Pt</th>
            <!--<th>Mt/Cx</th>
            <th>Mt/Pt</th>
            <th>Mt/Cn</th>-->
            <th>Preço CD1</th>
            <th>Preço CD3</th>
          </tr>
        </thead>
        <tbody *ngFor="let produto of produtos; let i = index" [attr.data-index]="i">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{produto.linhaProduto}}</td>
            <td>{{produto.formatoProduto}}</td>
            <td>{{produto.descricaoProduto}}</td>
            <td>{{produto.capaProduto}}</td>
            <td>{{produto.medicaoProduto}}</td>
            <td>{{produto.qtUnidCx}}</td>
            <td>{{produto.qtCxPallet}}</td>
            <!--<td class="money">{{produto.qtMetroCx}}</td>
            <td class="money">{{produto.qtMetroPt}}</td>
            <td class="money">{{produto.qtMetroCn}}</td>-->
            <td><span>R$ </span><span class="money">{{produto.hcka_cd1}}</span></td>
            <td><span>R$ </span><span class="money">{{produto.hcka_cd3}}</span></td>
          </tr>
        </tbody>
        </table>
      </div>



    <!--Tabela AT/DT-->
      <div class="tab-pane fade" id="tabela_AtDt">
        <table class="table table-striped table-hover col-md-12">
        <thead>
          <tr>
            <th>#</th>
            <th>Linha</th>
            <th>Formato</th>
            <th>Descrição</th>
            <th>Capa</th>
            <th>Med.</th>
            <th>Un/Cx</th>
            <th>Cx/Pt</th>
            <!--<th>Mt/Cx</th>
            <th>Mt/Pt</th>
            <th>Mt/Cn</th>-->
            <th>Preço CD1</th>
            <th>Preço CD3</th>
          </tr>
        </thead>
        <tbody *ngFor="let produto of produtos; let i = index" [attr.data-index]="i">
          <tr>
            <td>{{i + 1}}</td>
            <td>{{produto.linhaProduto}}</td>
            <td>{{produto.formatoProduto}}</td>
            <td>{{produto.descricaoProduto}}</td>
            <td>{{produto.capaProduto}}</td>
            <td>{{produto.medicaoProduto}}</td>
            <td>{{produto.qtUnidCx}}</td>
            <td>{{produto.qtCxPallet}}</td>
            <!--<td class="money">{{produto.qtMetroCx}}</td>
            <td class="money">{{produto.qtMetroPt}}</td>
            <td class="money">{{produto.qtMetroCn}}</td>-->
            <td><span>R$ </span><span class="money">{{produto.atdt_cd1}}</span></td>
            <td><span>R$ </span><span class="money">{{produto.atdt_cd3}}</span></td>
          </tr>
        </tbody>
        </table>
      </div>





  <!--CADASTRO-->
        

      
      <!--Novo Produto-->
      <div class="tab-pane fade" id="cadastrar_Produto">
        <h5 class="page-header">Geral</h5>
        <div class="form-group col-md-2">
          <div class="input-group">
            <label for="">Tipo</label>
            <select class="form-control input-sm" id="tipoProduto" [(ngModel)]="tipoProduto">
              <option value="" disabled=true>Selecione:</option>
              <option value="Piso">Piso</option>
              <option value="Rodapé">Rodapé</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-10">
          <div class="input-group">
            <label for="">Nome</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="nomeProduto" name="nomeProduto" placeholder="Nome do Produto" />
          </div>
        </div>
        <div class="form-group col-md-12">
          <div class="input-group">
            <label for="">Descrição Detalhada</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="descricaoProduto" name="descricaoProduto" placeholder="Descrição Detalhada" />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <label for="">Código</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="codigoProduto" name="codigoProduto" placeholder="Código do Produto" />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <label for="">Linha</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="linhaProduto" name="linhaProduto" placeholder="Linha do Produto" />
          </div>
        </div>
        <div class="form-group col-md-1">
          <div class="input-group">
            <label for="">Medição</label>
            <select class="form-control input-sm" id="medicaoProduto" [(ngModel)]="medicaoProduto">
              <option value="" disabled=true>Selecione:</option>
              <option value="linear">m</option>
              <option value="quadrado">m²</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <label for="">Capa de Uso - mm</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="capaProduto" name="capaProduto" placeholder="Capa de Uso" />
          </div>
        </div>
        <h5 class="page-header">Medidas do Produto</h5>
        <div class="form-group col-md-4" style="padding: 0">
          <div class="input-group">
            <label for="" class="col-md-12">Dimensões - mm (Comp x Larg x Esp)</label>
            <div>
              <div class="col-md-4">
                <input type="text" class="form-control input-sm " [(ngModel)]="compProduto" name="compProduto" placeholder="Comp." />
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control input-sm" [(ngModel)]="largProduto" name="largProduto" placeholder="Larg." />
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control input-sm" [(ngModel)]="espProduto" name="espProduto" placeholder="Esp." />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <label for="">Unidades por Caixa</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="unidCx" name="unidCx" placeholder="Unidades por Caixa" />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <label for="">Caixas por Pallet</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="cxPallet" name="cxPallet" placeholder="Caixas por Pallet" />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <label for="">Metros por Caixa</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="metroCx" name="metroCx" placeholder="Metros por Caixa" />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <label for="">Metros por Pallet</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="metroPallet" name="metroPallet" placeholder="Metros por Pallet" />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <label for="">Metros por Container</label>
            <input type="text" class="form-control input-sm" [(ngModel)]="metroContainer" name="metroContainer" placeholder="Metros por Container" />
          </div>
        </div>
        <h5 class="page-header">Preços</h5>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-md-4">Canal</th>
              <th class="col-md-2">Centro</th>
              <th class="col-md-2" style="text-align: right">Fracionado</th>
              <th class="col-md-1" style="text-align: right">Desc. 1</th>
              <th class="col-md-1" style="text-align: right">Desc. 2</th>
              <th class="col-md-1" style="text-align: right">Desc. 3</th>
              <th class="col-md-1" style="text-align: right">Desc. 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>REVENDA / VAREJO</td>
              <td>CD1</td>
              <td><input type="text" style="text-align: right" class="money form-control input-sm" [(ngModel)]="preco_rev_cd1" name="preco_rev_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc1_rev_cd1" name="desc1_rev_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc2_rev_cd1" name="desc2_rev_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc3_rev_cd1" name="desc3_rev_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc4_rev_cd1" name="desc4_rev_cd1" placeholder="" /></td>
            </tr>
            <tr>
              <td>REVENDA / VAREJO</td>
              <td>CD3</td>
              <td><input type="text" style="text-align: right" class="money form-control input-sm" [(ngModel)]="preco_rev_cd3" name="preco_rev_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc1_rev_cd3" name="desc1_rev_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc2_rev_cd3" name="desc2_rev_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc3_rev_cd3" name="desc3_rev_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc4_rev_cd3" name="desc4_rev_cd3" placeholder="" /></td>
            </tr>
            <tr>
              <td>ENGENHARIA</td>
              <td>CD1</td>
              <td><input type="text" style="text-align: right" class="money form-control input-sm" [(ngModel)]="preco_eng_cd1" name="preco_eng_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc1_eng_cd1" name="desc1_eng_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc2_eng_cd1" name="desc2_eng_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc3_eng_cd1" name="desc3_eng_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc4_eng_cd1" name="desc4_eng_cd1" placeholder="" /></td>
            </tr>
            <tr>
              <td>ENGENHARIA</td>
              <td>CD3</td>
              <td><input type="text" style="text-align: right" class="money form-control input-sm" [(ngModel)]="preco_eng_cd3" name="preco_eng_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc1_eng_cd3" name="desc1_eng_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc2_eng_cd3" name="desc2_eng_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc3_eng_cd3" name="desc3_eng_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc4_eng_cd3" name="desc4_eng_cd3" placeholder="" /></td>
            </tr>
            <tr>
              <td>HOME CENTER / KEY ACCOUNT</td>
              <td>CD1</td>
              <td><input type="text" style="text-align: right" class="money form-control input-sm" [(ngModel)]="preco_hcka_cd1" name="preco_hcka_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc1_hcka_cd1" name="desc1_hcka_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc2_hcka_cd1" name="desc2_hcka_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc3_hcka_cd1" name="desc3_hcka_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc4_hcka_cd1" name="desc4_hcka_cd1" placeholder="" /></td>
            </tr>
            <tr>
              <td>HOME CENTER / KEY ACCOUNT</td>
              <td>CD3</td>
              <td><input type="text" style="text-align: right" class="money form-control input-sm" [(ngModel)]="preco_hcka_cd3" name="preco_hcka_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc1_hcka_cd3" name="desc1_hcka_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc2_hcka_cd3" name="desc2_hcka_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc3_hcka_cd3" name="desc3_hcka_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc4_hcka_cd3" name="desc4_hcka_cd3" placeholder="" /></td>
            </tr>
            <tr>
              <td>DISTRIBUIDORAS / ATACADO</td>
              <td>CD1</td>
              <td><input type="text" style="text-align: right" class="money form-control input-sm" [(ngModel)]="preco_dist_cd1" name="preco_dist_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc1_dist_cd1" name="desc1_dist_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc2_dist_cd1" name="desc2_dist_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc3_dist_cd1" name="desc3_dist_cd1" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc4_dist_cd1" name="desc4_dist_cd1" placeholder="" /></td>
            </tr>
            <tr>
              <td>DISTRIBUIDORAS / ATACADO</td>
              <td>CD3</td>
              <td><input type="text" style="text-align: right" class="money form-control input-sm" [(ngModel)]="preco_dist_cd3" name="preco_dist_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc1_dist_cd3" name="desc1_dist_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc2_dist_cd3" name="desc2_dist_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc3_dist_cd3" name="desc3_dist_cd3" placeholder="" /></td>
              <td><input type="text" style="text-align: right" class="percent form-control input-sm" [(ngModel)]="desc4_dist_cd3" name="desc4_dist_cd3" placeholder="" /></td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12" style="padding: 0">
          <input class="btn btn-primary btn-block btn-sm" (click)="adicionaProduto()" value="CONFIRMAR">
        </div>
      </div>




      <!--Descontos-->

      <div class="tab-pane fade" id="descontos">
        <h4 class="page-header" style="padding-left: 30px">Tabela de Descontos</h4>
        <div class="form-group col-md-6">
          <div class="input-group">
            <select class="form-control input-sm" [disabled]="disable_select" [(ngModel)]="cons_nomeProduto" name="cons_nomeProduto" id="cons_nomeProduto" (change)="funcao_desc(desc_nome, cons_nomeProduto)" >
              <option value="" disabled=true>Nome do Produto:</option> 
              <option *ngFor="let produto of produtos" [value]="produto._id" >{{produto.descricaoProduto}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-2">
          <div class="input-group">
            <select class="form-control input-sm" id="cons_tipoProduto" [disabled]="disable_select" [(ngModel)]="cons_tipoProduto" (change)="funcao_desc(desc_tipo, cons_tipoProduto)">
              <option value="">Tipo de Produto:</option>
              <option value="Piso">Piso</option>
              <option value="Rodapé">Rodapé</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <select class="form-control input-sm" [disabled]="disable_select" [(ngModel)]="cons_linhaProduto" name="cons_linhaProduto" id="cons_linhaProduto" (change)="funcao_desc(desc_linha, cons_linhaProduto)">
              <option value="" disabled=true>Linha do Produto:</option> 
              <option *ngFor="let linha of linhas" [value]="linha">{{linha}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-2 col-md-offset-10">
          <button *ngIf="select_desc" class="btn btn-danger btn-sm btn-block" (click)="limpaBuscaDesconto()">Nova Consulta</button>
        </div>
        <table *ngIf="select_desc" class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-md-8"># Desconto</th>
              <th class="col-md-2" style="text-align: right">Quantidade</th>
              <th class="col-md-2" style="text-align: right">Medida</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Desconto 1</td>
              <td><input type="text" style="text-align: right" class="form-control input-sm" [(ngModel)]="quant_desc1" name="quant_desc1" placeholder="" /></td>
              <td>
                <select class="form-control input-sm" [(ngModel)]="medida_desc1" name="medida_desc1" id="medida_desc1" >
                  <option value="" disabled=true>Selecione:</option> 
                  <option value="linear">m</option>
                  <option value="quadrado">m²</option>
                  <option value="caixa">Caixa</option>
                  <option value="pallet">Pallet</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Desconto 2</td>
              <td><input type="text" style="text-align: right" class="form-control input-sm" [(ngModel)]="quant_desc2" name="quant_desc2" placeholder="" /></td>
              <td>
                <select class="form-control input-sm" [(ngModel)]="medida_desc2" name="medida_desc2" id="medida_desc2" >
                  <option value="" disabled=true>Selecione:</option> 
                  <option value="linear">m</option>
                  <option value="quadrado">m²</option>
                  <option value="caixa">Caixa</option>
                  <option value="pallet">Pallet</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Desconto 3</td>
              <td><input type="text" style="text-align: right" class="form-control input-sm" [(ngModel)]="quant_desc3" name="quant_desc3" placeholder="" /></td>
              <td>
                <select class="form-control input-sm" [(ngModel)]="medida_desc3" name="medida_desc3" id="medida_desc3" >
                  <option value="" disabled=true>Selecione:</option> 
                  <option value="linear">m</option>
                  <option value="quadrado">m²</option>
                  <option value="caixa">Caixa</option>
                  <option value="pallet">Pallet</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Desconto 4</td>
              <td><input type="text" style="text-align: right" class="form-control input-sm" [(ngModel)]="quant_desc4" name="quant_desc4" placeholder="" /></td>
              <td>
                <select class="form-control input-sm" [(ngModel)]="medida_desc4" name="medida_desc4" id="medida_desc4" >
                  <option value="" disabled=true>Selecione:</option> 
                  <option value="linear">m</option>
                  <option value="quadrado">m²</option>
                  <option value="caixa">Caixa</option>
                  <option value="pallet">Pallet</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="select_desc" class="col-md-12" style="padding: 0">
          <input class="btn btn-primary btn-block btn-sm" (click)="cadastraDesconto()" value="CONFIRMAR">
        </div>

      </div>




      <!--Estoque-->

      <div class="tab-pane fade" id="estoque">
        <h4 class="page-header" style="padding-left: 30px">Controle de Estoque</h4>
        <div class="form-group col-md-12">
          <div class="input-group">
            <select class="form-control input-sm" [disabled]="disable_select" [(ngModel)]="cons_nomeProduto" name="cons_nomeProduto" id="cons_nomeProduto" (change)="funcao_desc(desc_nome, cons_nomeProduto)" >
              <option value="" disabled=true>Nome do Produto:</option> 
              <option *ngFor="let produto of produtos" [value]="produto._id" >{{produto.descricaoProduto}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-2 col-md-offset-10">
          <button *ngIf="select_desc" class="btn btn-danger btn-sm btn-block" (click)="limpaBuscaEstoque()">Nova Consulta</button>
        </div>
        <table *ngIf="select_desc" class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-md-8">Produto</th>
              <th class="col-md-2" style="text-align: right">Quantidade</th>
              <th class="col-md-2" style="text-align: right">Medida</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Produto</td>
              <td><input type="text" style="text-align: right" class="form-control input-sm" [(ngModel)]="quant_estoque" name="quant_estoque" placeholder="" /></td>
              <td>
                <select class="form-control input-sm" [(ngModel)]="medida_estoque" name="medida_estoque" id="medida_estoque" >
                  <option value="" disabled=true>Selecione:</option> 
                  <option value="linear">m</option>
                  <option value="quadrado">m²</option>
                  <option value="caixa">Caixa</option>
                  <option value="pallet">Pallet</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="select_desc" class="col-md-12" style="padding: 0">
          <input class="btn btn-primary btn-block btn-sm" (click)="cadastraDesconto()" value="CONFIRMAR">
        </div>
      </div>



</div>
